In [2]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser 
from bs4 import BeautifulSoup as soup 
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [16]:
# Setup splinter
#Instantiate browser ...
#Pass 'headless=False' to make chrome launch a visible window
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [4]:
# make the browser vist the following webpage
url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
# finding the element with the .find_by_xpath method.
# getting the xpath by inspecting the webPage
# extracting the text through .text
news_title = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[2]').text
news_p = browser.find_by_xpath('//*[@id="news"]/div[1]/div/div[2]/div/div[3]').text

print(news_title)
print(news_p)

NASA Mars Mission Connects With Bosnian and Herzegovinian Town
A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.

# JPL Mars Space Images—Featured Image

In [6]:
# make the browser vist the following webpage
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [7]:
# finding the element with the .find_by_xpath method and make it ‘click’ on this button with the .click() method.

browser.find_by_xpath('/html/body/div[1]/div/a/button').click()

In [8]:
featured_image_url = browser.find_by_xpath('/html/body/div[8]/div/div/div/div/img')["src"]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

# Mars Facts Table

In [10]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [11]:
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

# Mars Hemispheres

In [17]:
url = 'https://marshemispheres.com/'
browser.visit(url)

hemisphere_image_urls = []
for image in range(1,5):
    xpath = f'//*[@id="product-section"]/div[2]/div[{image}]/div/a/h3'
    browser.find_by_xpath(xpath).click()
    img = browser.find_by_xpath('//*[@id="wide-image"]/div/ul/li[1]/a')['href']
    title = browser.find_by_xpath('//*[@id="results"]/div[1]/div/div[3]/h2').text
    urls = {}
    urls["title"]= title
    urls["img_url"]= img
    hemisphere_image_urls.append(urls)
    browser.back()

browser.quit()
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]